.navbar {
  background-color: $nav-bg;
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      li{
        display: inline-block;
        &:hover{
          background-color: green;
        }
        a{
          color: #fff;
          font-size: 20px;
          display: block;
          text-decoration: none;
          padding: 10px 12px;
          transition: .3s;
        }
      }
    }
}