*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './components/mixins';

#first, #second, #third{
  margin: 20px;
}

#first {
  width: 150px;
  height: 150px;
  background-color: #474290;
  @include bd-radius(5px);
  @include box-shadow (5px, 3px, 10px, black);
} 

#second {
  width: 400px;
  background-color: #8db58f;
  padding: 15px;
  @include bd-radius(10px);
  @include box-shadow (8px, 5px, 10px, red);
}

#third {
  width: 600px;
  background-color: #fa7ab2;
  padding: 20px;
  @include bd-radius(15px);
  @include box-shadow(10px, 6px, 10px, purple);
}
//   