*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Sass @while Directive
$var : 10;
$f-size : 16px;

@while $var <= 30 {
  .box-#{$var} {
    padding-left: 1px * $var;
    font-size: $f-size;
  }
  $var : $var + 10;
  $f-size : $f-size + 2px;
}